GOOGLE_DRIVE_FILE_ID=1O2XLiCvGjeYsaBbRVxcSn2Ns4Yj_DNJv
DATA_DIR=./data
GOOGLE_PURCHASES_SHEET_NAME=Compras
GOOGLE_SALES_SHEET_NAME=Ventas
GOOGLE_FCI_SHEET_NAME=FCI
GOOGLE_LIQUIDITY_SHEET_NAME=Liquidez
GOOGLE_COMPANY_SHEET_NAME=Empresa
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"TU_PROJECT_ID","private_key_id":"TU_PRIVATE_KEY_ID","private_key":"-----BEGIN PRIVATE KEY-----\nPEGAR_AQUI_LA_CLAVE\n-----END PRIVATE KEY-----\n","client_email":"TU_CUENTA_DE_SERVICIO@TU_PROJECT_ID.iam.gserviceaccount.com","client_id":"TU_CLIENT_ID","token_uri":"https://oauth2.googleapis.com/token"}
